.button {
  font-size: 30px Arial;
  font-weight: 700;
  color: white;
  width: 200px;
  height: 50px;
  background-color: #54ac2c;
  border: 5px outset #65b937;
}

.big-button {
  font-size: 30px Arial;
  font-weight: 700;
  color: white;
  width: 200px;
  height: 50px;
  background-color: #54ac2c;
  border: 5px outset #65b937;
}

.button {
  font-size: 30px Arial;
  font-weight: 700;
  color: white;
  width: 100px;
  height: 50px;
  background-color: #54ac2c;
  border: 5px outset #65b937;
}

#team-input {
  position: absolute;
  left: 10px;
  top: 10px;
   
}

.answer-container {
  width: 80vw;
  height: 60vh;
  grid-row-gap: 2vh;
  grid-column-gap: 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.big-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-weight: 1000;
  border-radius: 50px;
  color: white;
}

.big-button:nth-child(1) {
  background-color: tomato;
  border: 0.5vw solid crimson;
}
.big-button:nth-child(2) {
  background-color: cornflowerblue;
  border: 0.5vw solid royalblue;
}
.big-button:nth-child(3) {
  background-color: #f6bb0a;
  border: 0.5vw solid orange;
}
.big-button:nth-child(4) {
  background-color: #65b937;
  border: 0.5vw solid #54ac2c;
}
